#left_nav{display:none !important}

.learnBox {
		width:303px;
		height: 330px;
		float:left;
		margin:5px;
		cursor: pointer;
	}

.homeBrewing .learnBox{
		width:210px;
		height: 250px;
		float:left;
		margin:10px;
		cursor: pointer;
	}

.homeBrewing .overlay {
	width:210px;
	height: 210px;
	position: relative;
}


	#edContainer{
		padding-top: 90px;
		width:940px;
		margin:auto;
	}


	.photo {
		height:303px;
		width:303px;
		float:left;
		margin: 0px;
		vertical-align: top;

	}

	.homeBrewing	.photo {
		height:210px;
		width:210px;
		float:left;
		margin: 0px;
		vertical-align: top;

	}

	#origin .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/origin.jpg);
		background-size: 313px;
	}
	#roasting .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/roasting.jpg);
		background-size: 313px;
	}
	#home .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/home.jpg);
		background-size: 313px;
	}


	#americas .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/americas.jpg);
		background-size: 313px;
	}
	#africa .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/africa.jpg);
		background-size: 313px;
	}
	#asia .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/asiapacific.jpg);
		background-size: 313px;
	}

	#brewGuides .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/brewguides.jpg);
		background-size: 210px;

	}

	#grinding .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/grinding.jpg);
		background-size: 210px;

	}
	#advBrewing .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/advancedBrewing.jpg);
		background-size: 210px;

	}
	#storage .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/storage.jpg);
		background-size: 210px;

	}

	#growingRegions .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/africa.jpg);
		background-size: 313px;

	}

		#legend{
		background: url(http://mistobox.com/v/mistoboxbeta/images/legend.jpg) ;
		background-repeat: no-repeat;
		background-size: 303px;
	}


	#varieties .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/varieties.jpg);
		background-size: 313px;

	}

	#tradeissues .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/tradeissues.jpg);
		background-size: 313px;

	}
		#processing .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/processing.jpg);
		background-size: 313px;

	}
		#variables .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/variables.jpg);
		background-size: 313px;

	}


 .overlay {
	width:303px;
	height: 303px;
	position: relative;
}


.learnBox.hover .overlay{
  // Red(0-255), Blue(0-255), Green(0-255), Alpha (0-1)
  -webkit-transition:opacity 0.2s ease;
  -moz-transition:opacity 0.2s ease;
  -o-transition:opacity 0.2s ease;
  background-color:rgba(0,0,0,0.3);
}

#learnRow{
	margin:15px 0;
}

.rolltext {
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	position: absolute;
	z-index: 100;
  display: none;

}
.learnBox.hover .rolltext {
  display: block;
  color: white;
}

.learnDash .rolltext{
	width: 200px;
	font-size: 30px;
	margin-left: 50px;
	margin-top: 90px;


}

.origin .rolltext{
	width: 200px;
	font-size: 30px;
	margin-left: 50px;
	margin-top: 90px;


}
.growing .rolltext{
	width: 200px;
	font-size: 30px;
	margin-left: 50px;
	margin-top: 90px;


}

.homeBrewing .rolltext {
	width:180px;
	height: 210px;
	font-size: 20px;
	margin-left: 15px;
	margin-top:65px;
}


.label{
		width:303px;
		color: #000;
		font-size: 20px;
		text-align: center;
		margin: 9px 0px;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Roboto Slab', serif;
		position: absolute;
		z-index: 100;
	}
.homeBrewing .label{
	width:210px;
	font-size: 16px;	
}

	#home a{
		display: block; 
		height: 100% 
	}

	.label a{
		text-decoration: none;
		color:white;
	}

	#brewContainer{

	background-color: #e8e3d9;
	position:absolute;
	left:0;
	right:0;
	padding: 15px;
	}

	#brewGuide {
		margin-bottom: 20px;
		width: 940px;
		margin:auto;

	}
	#brewInfo {
		width: 400px;
		float:left;
		vertical-align: top;
		margin:0px;
	}

	#brewVid{
		float:left;
		margin-right: 15px;
	}

	.threemethods{
		width: 250px;
		float:left; 
		margin: 10px;
		text-align: center;
	}

	.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.roasterRow{
	width:820px;
	margin:auto;
}
.roasterSquare {
		width:250px;
		height: 250px;
		float:left;
		margin: 0px 10px;
		border-top: solid 1px #e8e6e4;
		cursor: pointer; 
		cursor: hand;
	}

	.roasterSquare .label{
		color: #000;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		margin: auto;
		margin-top: 170px;
		width:250px;
		text-transform: uppercase;
		font-family: 'Roboto Slab', serif;
		position: absolute;
		z-index: 100;
	}

		.roasterSquare .location{
		color: #000;
		font-size: 12px;
		text-align: center;
		margin: auto;
		margin-top: 220px;
		width:250px;
		text-transform: uppercase;
		font-family: 'Roboto Slab', serif;
		position: absolute;
		z-index: 100;
	}

.roasterSquare.hover .label {
		color: #b5241a;
	}

.roasterSquare .overlay{
	width:250px;
	height: 250px;
}

.roasterSquare .photo{
	width:250px;
	height: 250px;
}


.roasterSquare.hover .overlay{
  // Red(0-255), Blue(0-255), Green(0-255), Alpha (0-1)
  -webkit-transition:opacity 0.2s ease;
  -moz-transition:opacity 0.2s ease;
  -o-transition:opacity 0.2s ease;
  background-color:rgba(230,230,230,0.3);
  width:250px;
	height: 250px;
}

#thermometer {
	margin-top: 80px;
	width: 380px;
	height: 452px;
	background: url(http://mistobox.com/v/mistoboxbeta/images/thermometer-bg.png) no-repeat;
}

#thermometer-pointer {
	position: absolute;
	left: 249px;
	top: 196px;
	z-index: 2;
}

#grindContainer #footerContainer{

	background-color: #776455;
	position:absolute;
	left:0;
	right:0;
	padding: 100px;
	margin-top: 30px;
	}

	#grindHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/grindingimage.jpg);
		background-size: 940px;
		width: 940px;
		height:340px;
		color:white;
		position: relative;
		top: -60px;

	}

	#burrblade{
		width:400px;
		float:left;
		margin:0px 15px;

	}

	#particleWrapper{
		width:900px; 
		margin:auto;
	}
	

	#probs{
		width:900px;
	}


	.bladeProbs{
		width:200px;
		float:left;
		margin:10px;

		text-align: justify;
		}

	.particleBox{
		width: 160px;
		height: 160px;
		background-color: #776455;
		float:left;
		margin: 30px;
		color:white;
		border-radius: 15px;
	}

	.particleBox h3{
		color:white;
	}
	.bladeProbs img{
		margin: auto;
		width:50px;
		display: block;
	}
		.country img{
		margin: auto;
		width:70px;
		display: block;
	}

	#prosCons{
		float:left;
		margin: 15px; 
		margin-top: 0px;
		padding:25px;
		padding-top: 0px;
		padding-bottom: 10px;
		width: 400px;
		background-color: #e8e3d9;
		border-radius: 5px;

	}
	#advHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/advancedbrewingimage.jpg);
		background-size: 940px;
		width: 940px;
		color:white;

	}
#storageHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/storageimage.jpg);
		background-size: 940px;
		width: 940px;
		color:white;

	}

#legendHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/legendimage.jpg);
		background-size: 940px;
		width: 940px;
		color:white;

	}


	#processingHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/processingimage.jpg);
		background-size: 940px;
		width: 940px;
		color:white;

	}

#varietiesHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/varietiesimage.jpg);
		background-size: 940px;
		width: 940px;
		color:white;

	}

	#variablesHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/variablesimage.jpg);
		background-size: 940px;
		width: 940px;
		color:white;

	}





	.important{
		background-color: #e8e3d9;
		border-radius: 5px;
		padding:30px;
		font-family: 'Lato', sans-serif;
		width:300px;
		height: 145px;
		float:right;
		margin: 20px;
		margin-top: 0px;
		font-weight: bold;
		font-size: 16px;
	}

	#homeHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/homebrew.jpg);
		background-size: 940px;
		width: 940px;

		color:white;

	}

	#roastingHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/coffeeroasting.jpg);
		background-size: 940px;
		width: 940px;

		color:white;

	}

	#growingHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/growingregions.jpg);
		background-size: 940px;
		width: 940px;

		color:white;
	}

	#originHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/originimage.jpg);
		background-size: 940px;
		width: 940px;

		color:white;
	}	

	#tradeissuesHeader{
		background: url(http://mistobox.com/v/mistoboxbeta/images/tradeissuesimage.jpg);
		background-size: 940px;
		width: 940px;

		color:white;
	}

	.edHeader{
		background-size: 940px;
		width: 940px;
		height:360px;
		color:white;
		position: relative;
		top: -60px;
	}

	.edHeader h1{
		padding-top: 160px;
		color:white;
		font-size: 60px;
	}


	.edMenu{
		text-align: center;
		font-family: 'Roboto Slab', serif;
		text-transform: uppercase;
	}
	
	.edMenu a {
		margin: 0px 20px;
		color: #000;
		text-decoration: none;

	}

	.edMenu a:hover{
		margin: 0px 20px;
		color: #B5241A;
		text-decoration: none;

	}

	#advContainer{
		padding-top: 90px;
		width:940px;
		margin:auto;
	}




	
	#grindMenu a {
		margin: 0px 20px;
		color: #000;
		text-decoration: none;

	}

	#grindMenu a:hover{
		margin: 0px 20px;
		color: #B5241A;
		text-decoration: none;

	}

	#grindContainer{
		padding-top: 90px;
		width:940px;
		margin:auto;
	}


	.homeMenu{
		float:left;
		height:250px;
		width:200px;
		vertical-align: bottom;
		margin: 0px 15px ;
	}

.homeMenu.hover .blackOverlay{
	  // Red(0-255), Blue(0-255), Green(0-255), Alpha (0-1)
	  -webkit-transition:opacity 0.2s ease;
	  -moz-transition:opacity 0.2s ease;
	  -o-transition:opacity 0.2s ease;
	  background-color:rgba(250,250,250,0.3);
}


	.homeMenuLink{

			position: relative;
			top:205px;

		}


	#homeBrew{
		background: url(http://mistobox.com/v/mistoboxbeta/images/timetemp.jpg) ;
		background-repeat: no-repeat;
		background-size: 200px;
	}
	#homeGrind{
		background: url(http://mistobox.com/v/mistoboxbeta/images/timetemp.jpg) ;
		background-repeat: no-repeat;
		background-size: 200px;
	}

	#homeAdvBrew{
		background: url(http://mistobox.com/v/mistoboxbeta/images/timetemp.jpg) ;
		background-repeat: no-repeat;
		background-size: 200px;
	}

	#homeStorage{
		background: url(http://mistobox.com/v/mistoboxbeta/images/timetemp.jpg) ;
		background-repeat: no-repeat;
		background-size: 200px;
	}

	.anchor{
	  display: block;
	  height: 80px; 
	  margin-top: -80px; 
	  visibility: hidden;
	}

	.quote{

		color: #cdc8be;
		font-size: 30px; 
		margin-top: -50px;

	}

		.country{
		width:200px;
		float:left;
		margin:10px;

		text-align: center;
		}
	

.roastingphase{
	width: 230px;
	height: 300px;
	background-color: #e6e3da;
	float: left;
	margin-left: 15px;
	padding: 35px;
	text-align: center;
	border-radius: 5px;
}

.roastingphase#medium{
	background-color: #bdb1a4;
}

.roastingphase#dark{
	background-color: #706456;
}

.varietiesrow{
	width: 180px;
	height:280px;
	color: #fff;
	text-align: center;
	float: left;
	margin:3px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 25px;
	 text-shadow: black 1px 1px 2px;
	line-height: 280px;

	text-transform: uppercase;

}

.varietiesrow#bourbon{
background-image: url(../images/bourboun.jpg);

}

.varietiesrow#typica{
background-image: url(../images/typica.jpg);

}

.varietiesrow#caturra{
background-image: url(../images/caturra.jpg);

}

.varietiesrow#pacamara{
background-image: url(../images/pacamara.jpg);

}

.varietiesrow#catuai{
background-image: url(../images/catuai.jpg);

}