.roasterSquare#augies .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/augies.jpg);
		background-size: 251px;
	}

	.roasterSquare#anodyne .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/anodyne.jpg);
		background-size: 251px;
	}

	.roasterSquare#aj .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/aj.jpg);
		background-size: 251px;
	}
	.roasterSquare#barefoot .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/barefoot.jpg);
		background-size: 251px;
	}
	.roasterSquare#bowtruss .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/bowtruss.jpg);
		background-size: 251px;
	}
	.roasterSquare#brown .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/brown.jpg);
		background-size: 251px;
	}

	.roasterSquare#cartel .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/cartel.jpg);
		background-size: 251px;
	}
	.roasterSquare#case .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/case.jpg);
		background-size: 251px;
	}
	.roasterSquare#ceremony .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/ceremony.jpg);
		background-size: 251px;
	}
	.roasterSquare#chocolatefish .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/chocolatefish.jpg);
		background-size: 251px;
	}
	.roasterSquare#coava .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/coava.jpg);
		background-size: 251px;
	}
	.roasterSquare#demitasse .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/demitasse.jpg);
		background-size: 251px;
	}
	.roasterSquare#elemental .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/elemental.jpg);
		background-size: 251px;
	}
	.roasterSquare#entimos .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/entimos.jpg);
		background-size: 251px;
	}
	.roasterSquare#halfwit .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/halfwit.jpg);
		background-size: 251px;
	}
	.roasterSquare#klatch .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/klatch.jpg);
		background-size: 251px;
	}	
	.roasterSquare#ladro .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/ladro.jpg);
		background-size: 251px;
	}
	.roasterSquare#lonepine .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/lonepine.jpg);
		background-size: 251px;
	}
	.roasterSquare#oakcliff .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/oakcliff.jpg);
		background-size: 251px;
	}	
	.roasterSquare#oq .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/oq.jpg);
		background-size: 251px;
	}	
	.roasterSquare#panther .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/panther.jpg);
		background-size: 251px;
	}	
	.roasterSquare#passionhouse .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/passionhouse.jpg);
		background-size: 251px;
	}	
	.roasterSquare#ristretto .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/ristretto.jpg);
		background-size: 251px;
	}	
	.roasterSquare#verve .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/verve.jpg);
		background-size: 251px;
	}	
	.roasterSquare#victrola .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/victrola.jpg);
		background-size: 251px;
	}	
	.roasterSquare#wateravenue .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/wateravenue.jpg);
		background-size: 251px;
	}	
	.roasterSquare#westbean .photo{
		background: url(http://mistobox.com/v/mistoboxbeta/images/westbean.jpg);
		background-size: 251px;
	}	